[Unit]
Description=Run Desk Retention every 10 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=10min
Unit=desk_retention.service

[Install]
WantedBy=timers.target
