[Unit]
Description=Daily session scheduler timer (every 24h)
RefuseManualStart=false

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
